.container {
  width: 100%;
}

.table {
  margin: 20px 10%;
  width: 80%;
}

.th {
  border-color: #606060;
  border-width: 1.5px;
  font-size: x-large;
  font-weight: bold;
}

.row {
}

.cell {
  font-size: large;
  padding: 4px;
  border-color: #606060;
  border-width: 1.5px;
}

@media (max-width: 800px) {
  .th,
  .cell {
    font-size: medium;
  }
}
