.container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 10px 0 20px 0;
}

.table
{
    width: fit-content;
}

.th
{
    text-overflow: clip;
    padding: 5px;
    border-color: #606060;
    border-width: 1.5px;
    font-size: large;
    font-weight: bold;

    cursor: pointer;
}

.cell_arrow_up, .cell_arrow_down
{
    padding-right: 20px;
}

.cell_arrow_up::after, .cell_arrow_down::after
{
    content: "";
    position:absolute;
    margin-top: 10px;
    margin-left: 2px;
    pointer-events: none;
}

.cell_arrow_up::after
{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--foreground);
}

.cell_arrow_down::after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid var(--foreground);
}

.cell
{
    font-size: medium;
    padding: 4px;
    border-color: #606060;
    border-width: 1.5px;
}

@media (max-width: 800px) {
    .th, .cell
    {
        font-size: medium;
    }
}

.tr_link
{
    cursor: pointer;
}

.tr_link:hover
{
    background-color: #80808040;
}